body {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.map {
    flex: 2;
}

.editor {
    flex: 1;
    display: flex;
    flex-direction: column
}

#settings_text {
    flex: 1;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    text-align:  center;
    background: #555;
    color: white;
    margin: 0;
    padding: 10px;
}

.editor-title-container {
    background: #444;
    padding: 10px 20px;
}

.editor-title {
    color: white;
    margin: 0;
    padding-top: 5px;
    display: inline-block;
}

.editor-run-button {
    float: right;
    padding: 10px;
    background: #666;
    border: none;
    font-size: 15px;
    color: white;
}

.editor-run-button:hover {
    background: #555;
}

.action-form-container {
    background: #555;
    padding: 10px;
    color: white;
}

.plugin-container {
    width: 40px;
    position: absolute;
    right: 0;
    border-radius: 5px 0 0 5px;
    top: 50vh;
    padding: 5px;
    background: #666;
}

.plugin-container img {
    width: 40px;
}

.plugin-container:hover {
    background: #444;
}

.plugin-selected {
    background: #444;
}